.infoNutri {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.infoNutri figure {
    width: 256px;
    height: 124px;
    background-color: #FBFBFB;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;

}

.infoNutri figure img {
    width: 60px;
    /* Ajustez la largeur de l'image selon vos besoins */
    height: auto;
    /* Pour conserver les proportions de l'image */
    margin-bottom: 5px;
    /* Espacement entre l'image et les textes */
}

.infoNutri figure div {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
}

.titreNutri {
    height: 25px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
    line-height: 24px;
    text-align: left;
}

.valeurNutri {
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}