.ChartBar {
    font-family: sans-serif;
    text-align: center;
}
.BarGraphique {
    margin-left: 18px;
}

.custom-tooltip {
    background-color: white;
    width: 39px;
    height: 25px;
}

.text-tooltip {
    font-size: 8px;
    text-align: center;
    line-height: 24px;
}

.titreChartBar {
    position: relative;
    top: 69px;
    left: 60px;
    font-size: "15px";
    font-weight: "500" ;
}

.Barcustom-tooltip {
    background-color: red;
    width: 39px;
    height: 63px;
    margin-left: 37px;
}

.Bartext-tooltip {
    font-size: 7px;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: 500;
}

.kcal {
    margin-right: 15px;
}