.not-found {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    
    box-sizing: border-box;
    color:  #ff0101;
    text-align: center;
    span {
      display: block;
      font-size: 16vw;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 50px;
      padding: 3%;
    }
    .error-link {
      display: block;
      font-size: 1.5em;
      color:  #ff0101;
      text-decoration: underline;
      margin-bottom: 200px;
    }
  }